<footer class="footer">
  <small>
    by Florence Doo for <a href="http://www.CS50.net/">CS50</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>